<!DOCTYPE html>
<html lang="es">

  <%- include("../partials/head.ejs", {
    pageTitle: "Carrito de compra", 
    cssTag: "<link rel='stylesheet' type='text/css' href='/css/styles-cart.css'> <link rel='stylesheet' href='/css/styles-header.css'>"}) %>
    
<body>
  <%- include("../partials/header.ejs") %>
    <main>
      <div class="all-main">
      <section>
        <% for( let i = 0; i < cart.products.length; i++ ) { %>
          <article>
            <div class="product-article">  
              <img src="/img/products/<%= cart.products[i].dataValues.image %> " alt="pantalón nike">

              <div class="description-article">
                <h3><%= cart.products[i].dataValues.name %></h3>

                <div class="add-subtract">
                  <button id='aumentar'>+</button>
                  <input type='text' id="cantidad" value="0">
                  <button id='disminuir'>-</button>
                </div>
                
                <div class="price-cart">
                  <h3>Precio/unidad:</h3>
                  <p id="priceId"><%= cart.products[i].dataValues.price %></p>
                </div>

              </div>
              
            </div>
          </article>
        <% } %>

        </section>

        <div class="pay-way">
            <form action="/cart" method="get">
                <div class="cupon">
                <label for="cupon">¿Tenés algún cupón de descuento?</label>
                <input type="text" name="cupon" id="cupon" placeholder="Ingresá tu código">
                </div>
            </form>
            
            <div class="amount">
              <p>Subtotal</p>
              <p class="subTotal"></p>
            </div>
            <div class="amount">
              <p>Envío</p>
              <p class="envio"></p>
            </div>
            <div class="amount">
              <p>Total</p>
              <p class="total"></p>
            </div>
        </div>
      </div>  
    </main>
    <%- include("../partials/footer.ejs") %>

    <script src="/js/addOrRemove.js"></script>
    <script src="/js/burgerMenu.js"></script>
    <script src="/js/profileMenu.js"></script>
</body>
</html>