<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs", {
        pageTitle:"product-create",
        cssTag: "<link rel='stylesheet' href='/css/styles-create.css'> <link rel='stylesheet' href='/css/styles-index.css'>"}) %>
<body>
    <%- include("../partials/header.ejs") %>
    
    <main>
        
        <h1 id="h1-create">Crear producto</h1>

        <form action="/products/create" method="POST" enctype="multipart/form-data">
            <div class="form-container-create">
                <label class="label-title" for="productName">Nombre del producto:</label>
                <input type="text" id="productName" name="name" placeholder="Ej: zapatilla nike air force">

                <label for="price">Precio:</label>
                <input type="text" id="price" name="price" placeholder="Escriba el precio">

                <label for="gender">Género del producto:</label>
                <select id="gender" name="productGender">
                    <% for( let i = 0; i < genders.length; i++ ) { %>
                        <option value="<%= genders[i].id %>">
                            <%= genders[i].name %>  
                        </option>
                    <% } %>    
                </select>

                <label for="brand">Marca del producto:</label>
                <select name="productBrand" id="brand">
                    <% for( let i = 0; i < brands.length; i++ ) { %>
                        <option value="<%= brands[i].id %>">
                            <%= brands[i].name %> 
                        </option>
                    <% } %>
                </select>

                <label>Talle del producto:</label>
                <label class="productCheckbox">
                    <% for( let i = 0; i < sizes.length; i++ ) { %>
                    <div>
                        <%= sizes[i].name %> <input type="checkbox" name="productSize" value="<%= sizes[i].id %>">
                    </div>
                    <% } %>
                </label>

                <label>Color del producto:</label>
                <label class="productCheckbox">
                    <% for( let i = 0; i < colors.length; i++ ) { %>
                        <div>
                            <%= colors[i].name %>  <input type="checkbox" name="productColor" value="<%= colors[i].id %>">
                        </div>
                    <% } %>
                </label>

                <label>Categoría del producto:</label>
                <label class="productCheckbox">
                    <% for( let i = 0; i < categories.length; i++ ) { %>
                        <div>
                            <%= categories[i].name %>  <input type="checkbox" name="productCategory" value="<%= categories[i].id %>">
                        </div>
                    <% } %>
                </label>

                <label for="image">Imagen del producto:</label>
                <input class="input-image" type="file" id="image" name="image">

                <label for="description">Descripción del producto:</label>
                <textarea name="description" id="description" cols="40" rows="10">Detalle aún más el producto a publicar...</textarea>

                <button class="button-style" type="submit">Cargar producto</button>
            </div>
        </form>
    </main>

    <%- include("../partials/footer.ejs") %>
</body>
</html>