<!DOCTYPE html>
<html lang="es">

<head>
  <%- include("../partials/head.ejs") %>
  <title>iSporty - Inicio de sesión</title>
  <link rel="stylesheet" href="/css/styles-detail.css">
</head>

<body>
  <%- include("../partials/header.ejs") %>
  <main class="main-container">

    <section class="main-section">
      <article class="top-box">
        <img src="/img/<%= product.image%>" width="100%" alt="Calzas">
      </article>

      <article class="top-box2">
        <div class="encabezado">
          <h3><%= product.name %></h3>
          <p>Precio: $<%= product.price %> </p>
        </div>

        <div class="imagenproducto">
          <div class="talles">
            <label></label>
            <button type="submit">XS</button>
            <button type="submit">S</button>
            <button type="submit">M</button>
            <button type="submit">L</button>
            <button type="submit">XL</button>
            <button type="submit">XXL</button>
          </div>
          <div class="botoncarrito">
            <button type="submit">AGREGAR AL CARRITO</button>
          </div>
      </article>
    </section>

    <section class="main-section2">
      <div>
        <h3>Descripción del producto</h3>
        <p class="descripcion">Marca: <%= product.marca %><br> Modelo: <%= product.modelo %> <br> Talles disponibles: <%= product.talle %> <br> Colores disponibles: <%= product.color %> <br> Categoría: <%= product.category %> <br> Descripción: <%= product.description %> </p>
      </div>
    </section>

    <br>

    <h4>Personas interesadas en este producto también vieron:</h3>

      <section class="productos">
        <article>
          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
               <img class="img-products" src="/img/zapatillsclassic.jpeg" alt="Zapatillas Adidas Blancas">
              <i class="fas fa-chevron-circle-right"></i>
            </div>
    
            <ul>
              <li>Zapatillas Adidas Classic</li>
              <li>$11.500</li>
            </ul>
    
          </div>

        </article>

        <article class="article-ipad">

          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
               <img class="img-products" src="/img/rs20.jpeg" alt="zapatillas rs 2.0">
              <i class="fas fa-chevron-circle-right"></i>
            </div>
    
            <ul>
              <li>Zapatillas Nike RS 2.0</li>
              <li>$16.600</li>
            </ul>
    
          </div>

        </article>

        <article class="article-desktop">

          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
               <img class="img-products" src="/img/remeratraininggirl.jpeg" alt="remera training mujer">
              <i class="fas fa-chevron-circle-right"></i>
            </div>
    
            <ul>
              <li>Remera Training Mujer</li>
              <li>$5.500</li>
            </ul>
    
          </div>

        </article>

        <article class="article-desktop">

          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
              <img class="img-products" src="/img/Campera-nike.jpeg" alt="campera Nike">
              <i class="fas fa-chevron-circle-right"></i>
            </div>

            <ul>
              <li>Campera Nike</li>
              <li>$9.990</li>
            </ul>
          </div>

        </article>

      </section>

      <a href="/product/productEdit/<%= product.id %>" class="action-button edit">EDITAR PRODUCTO</a>

      <a href="https://wa.me/5491127682598?text=Me%20gustar%C3%ADa%20contactar%20con%20un%20asesor%20comercial"
        class="whatsapp" target="_blank"> <i class="fab fa-whatsapp"></i></a>

  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>