<!DOCTYPE html>
<html lang="es">

  <%- include("../partials/head.ejs", {
    pageTitle: "Detalle del producto",
    cssTag: "<link rel='stylesheet' href='/css/styles-detail.css'> <link rel='stylesheet' href='/css/styles-header.css'>"}) %>

<body>
  <%- include("../partials/header.ejs") %>
  <main class="main-container">

    <section class="main-section">
      <article class="top-box">
        <img src="/img/products/<%= product.image%>" width="100%" alt="">
      </article>

      <article class="top-box2">
        <div class="encabezado">
          <h3><%= product.name %></h3>
          <p>Precio: $<%= product.price %> </p>
        </div>

        <!-- <div class="imagenproducto"> -->
          <div class="talles">
            <% if (product.sizes.length > 0) { %>
              <% product.sizes.forEach(size=> { %>
                <button type="submit"> <%= size.name %></button>
              <% }) %>
            <% } %>
          </div>
          <div>
            <button class="botoncarrito" type="submit">AGREGAR AL CARRITO</button>
          </div>
          <!-- </div> -->
      </article>
    </section>

    <section class="main-section2">
      <div>
        <h3>Descripción del producto</h3>
        <div class="descripcion">
        <p >Marca:<%= product.brands.name %></p>
        <p >Género: <%= product.gender.name %></p> 
          <% if (product.sizes.length > 0) { %>
            <p>Talles:
            <% product.sizes.forEach(size=> { %>
              <%= size.name %>
            <% }) %></p>
          <% } %>
          <% if (product.colors.length > 0) { %>
            <p>Colores disponibles:
            <% product.colors.forEach(color=> { %>
              <%= color.name %>
            <% }) %></p>
          <% } %>
          <% if (product.categories.length > 0) { %>
            <p>Categorías:
            <% product.categories.forEach(category=> { %>
              <%= category.name %>
            <% }) %></p>
          <% } %>
          <p >Descripción: <%= product.description %> </p>
        </div>
      </div>
    </section>
    <div class="alinear">
    <br>
    
    <% if (locals.userLogged && locals.userLogged.id === product.userId) { %>
      <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST">
        <a href="/products/edit/<%= product.id %>" class="action-button-delete">EDITAR PRODUCTO</a>
       <button type="submit" class="action-button-delete">BORRAR PRODUCTO</button>
      </form>
    <% } %>
      
      <br>
      </div>
    
      <h4>Personas interesadas en este producto también vieron:</h3>

      <section class="productos">
        <article>
          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
               <img class="img-products" src="/img/products/zapatillsclassic.jpeg" alt="Zapatillas Adidas Blancas">
              <i class="fas fa-chevron-circle-right"></i>
            </div>
    
            <ul>
              <li>Zapatillas Adidas Classic</li>
              <li>$11.500</li>
            </ul>
    
          </div>

        </article>

        <article class="article-ipad">

          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
               <img class="img-products" src="/img/products/rs20.jpeg" alt="zapatillas rs 2.0">
              <i class="fas fa-chevron-circle-right"></i>
            </div>
    
            <ul>
              <li>Zapatillas Nike RS 2.0</li>
              <li>$16.600</li>
            </ul>
    
          </div>

        </article>

        <article class="article-desktop">

          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
               <img class="img-products" src="/img/products/remeratraininggirl.jpeg" alt="remera training mujer">
              <i class="fas fa-chevron-circle-right"></i>
            </div>
    
            <ul>
              <li>Remera Training Mujer</li>
              <li>$5.500</li>
            </ul>
    
          </div>

        </article>

        <article class="article-desktop">

          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
              <img class="img-products" src="/img/products/Campera-nike.jpeg" alt="campera Nike">
              <i class="fas fa-chevron-circle-right"></i>
            </div>

            <ul>
              <li>Campera Nike</li>
              <li>$9.990</li>
            </ul>
          </div>

        </article>

      </section>
      <a href="https://wa.me/5491127682598?text=Me%20gustar%C3%ADa%20contactar%20con%20un%20asesor%20comercial"
        class="whatsapp" target="_blank"> <i class="fab fa-whatsapp"></i></a>

  </main>
  <%- include("../partials/footer.ejs") %>
  <script src="/js/burgerMenu.js"></script>
  <script src="/js/profileMenu.js"></script>
</body>

</html>