<!DOCTYPE html>
<html lang="es">

  <%- include("../partials/head.ejs", {
    pageTitle: "Formulario de edición",
    cssTag: "<link rel='stylesheet' href='/css/styles-formulario-edit.css'> <link rel='stylesheet' href='/css/normalize.css'> <link rel='stylesheet' href='/css/styles-header.css'>"}) %>

<body>
  <%- include("../partials/header.ejs") %>
  <main class="main-form">
    <h1>Editar producto</h1>
    <section id="section-edit">

      <form action="/products/edit/<%= product.id %>?_method=put" method="post" class="create-form">

        <div class="controlador">
          <label>* Modificar el nombre del producto</label>
          <input type="text" name="name" class="control" value="<%= product.name %>">
        </div>
        
        <div class="controlador">
          <label>* Editar precio del producto</label>
          <input type="number" name="price" class="control" value="<%= product.price %>">
        </div>

        <div class="controlador">
          <label>* Género del producto</label>
          <select name="productGender" class="controlador2">
            <option>Selecciona una opción</option>
            <% genders.forEach(oneGender=> { %>
              <option value="<%= oneGender.id %>" <%= oneGender.id === product.genderId ? "selected" : ""  %> >
                <%= oneGender.name %>
              </option>
            <% }) %>
          </select>
        </div>

        <div class="controlador">
          <label>* Editar marca</label>
          <select name="productBrand" class="controlador2">
            <option>Selecciona una opción</option>
            <% brands.forEach(oneBrand=> { %>
              <option value="<%= oneBrand.id %>" <%= oneBrand.id === product.brandId ? "selected" : "" %>>
                <%= oneBrand.name %>
              </option>
            <% }) %>
          </select>
        </div>

        <div class="controlador">
          <label>* Modificar los talles del producto</label>
          <select name="productSize" multiple class="controlador2">
            <option value="" >Selecciona una ó más opciones</option>
            <% sizes.forEach(oneSize=> { %>
              <option value="<%= oneSize.id %>" <%= oneSize.id === sizes.id ? "selected" : ""  %>>
                <%= oneSize.name %>
              </option>
            <% }) %>
          </select>
        </div>

        <div class="controlador">
          <label>* Modificar los colores del producto</label>
          <select name="productColor" multiple class="controlador2">
            <option value="" class="controlador2">Selecciona una ó más opciones</option>
            <% for( let i = 0; i < colors.length; i++ ) { %>
              <% if (colors[i].id == product.colorId) { %>
               <option value="<%= colors[i].id %>" selected>
                <%= colors[i].name %> 
              </option>
              <% } else { %>
                <option value="<%= colors[i].id %>">
                  <%= colors[i].name %> 
                </option>
                <% } %>  
            <% } %>
          </select>
        </div>

        <div class="controlador">
          <label>* Editar categoría</label>
          <select name="productCategory"  multiple class="controlador2">
            <option value="" class="controlador2">Selecciona una ó más opciones</option>
            <% categories.forEach(oneCategory=> { %>
              <option value="<%= oneCategory.id %>" <%= oneCategory.id === product.categoryId ? "selected" : ""  %>>
                <%= oneCategory.name %>
              </option>
            <% }) %>
          </select>
        </div>

        <!-- AGREGAR IMAGEN -->

        <div class="controlador">
          <label>* Editar descripción</label>
          <textarea class="controlador2" name="description" id="" cols="30" rows="10"><%= product.description %> </textarea>
        </div>

        <button type="submit" class="boton-formulario">Guardar cambios</button>
        <button type="reset" class="boton-formulario">Cancelar</button>
      </form>

    </section>
    <a href="https://wa.me/5491127682598?text=Me%20gustar%C3%ADa%20contactar%20con%20un%20asesor%20comercial"
      class="whatsapp" target="_blank"> <i class="fab fa-whatsapp"></i></a>
  </main>
  <%- include("../partials/footer.ejs") %>
  <script src="/js/burgerMenu.js"></script>
</body>

</html>