<!DOCTYPE html>
<html lang="es">

  <%- include("../partials/head.ejs", {
    pageTitle: "Formulario de edición",
    cssTag: "<link rel='stylesheet' href='/css/styles-formulario-edit.css'> <link rel='stylesheet' href='/css/normalize.css'> <link rel='stylesheet' href='/css/styles-header.css'>"}) %>

<body>
  <%- include("../partials/header.ejs") %>
  <main class="main-form">
    <h1 id="edit-title">Editar producto</h1>
    <!-- <section id="section-edit"> -->

      <form class="form-container-create" id="editForm" action="/products/edit/<%= product.id %>?_method=put" method="post">

        <!-- <div class="controlador"> -->
          <label class="label-title-first">* Nombre del producto</label>
          <input type="text" name="name" class="field-style" value="<%= product.name %>">
          <span></span>
        <!-- </div> -->

        
        <% if (locals.errors && errors.name) { %>
          <div class="text-danger">
            <%= errors.name.msg %> 
          </div>
        <% } %>
        
        <!-- <div class="controlador"> -->
          <label class="label-title">* Precio del producto</label>
          <input type="text" name="price" class="field-style" value="<%= product.price %>">
          <span></span>
        <!-- </div> -->

        <% if (locals.errors && errors.price) { %>
          <div class="text-danger">
            <%= errors.price.msg %> 
          </div>
        <% } %>

        <!-- <div class="controlador"> -->
          <label class="label-title">* Género del producto</label>
          <select name="productGender" class="field-style">
            <option>Selecciona una opción</option>
            <% genders.forEach(oneGender=> { %>
              <option value="<%= oneGender.id %>" <%= oneGender.id === product.genderId ? "selected" : ""  %> >
                <%= oneGender.name %>
              </option>
            <% }) %>
          </select>
          <span></span>
        <!-- </div> -->

        <% if (locals.errors && errors.productGender) { %>
          <div class="text-danger">
            <%= errors.productGender.msg %> 
          </div>
        <% } %>
      

        <!-- <div class="controlador"> -->
          <label class="label-title">* Marca del producto:</label>
          <select name="productBrand" class="field-style">
            <option>Selecciona una opción</option>
            <% brands.forEach(oneBrand=> { %>
              <option value="<%= oneBrand.id %>" <%= oneBrand.id === product.brandId ? "selected" : "" %>>
                <%= oneBrand.name %>
              </option>
            <% }) %>
          </select>
          <span></span>
        <!-- </div> -->

        <% if (locals.errors && errors.productBrand) { %>
          <div class="text-danger">
            <%= errors.productBrand.msg %> 
          </div>
        <% } %>

        <!-- <div class="controlador"> -->
          <label class="label-title">* Talles del producto</label>
          <select name="productSize" multiple class="field-style">
            <option value="" >Selecciona una o más opciones</option>
            <% sizes.forEach(oneSize=> { %>
              <option value="<%= oneSize.id %>" <%= oneSize.id === sizes.id ? "selected" : ""  %>>
                <%= oneSize.name %>
              </option>
            <% }) %>
          </select>
          <span></span>
        <!-- </div> -->

        <% if (locals.errors && errors.productSize) { %>
          <div class="text-danger">
            <%= errors.productSize.msg %> 
          </div>
        <% } %>

        <!-- <div class="controlador"> -->
          <label class="label-title">* Colores del producto</label>
          <select name="productColor" multiple class="field-style">
            <option value="">Selecciona una o más opciones</option>
            <% for( let i = 0; i < colors.length; i++ ) { %>
              <% if (colors[i].id == product.colorId) { %>
               <option value="<%= colors[i].id %>" selected>
                <%= colors[i].name %> 
              </option>
              <% } else { %>
                <option value="<%= colors[i].id %>">
                  <%= colors[i].name %> 
                </option>
                <% } %>  
            <% } %>
          </select>
          <span></span>
        <!-- </div> -->

        <% if (locals.errors && errors.productColor) { %>
          <div class="text-danger">
            <%= errors.productColor.msg %> 
          </div>
        <% } %>

        <!-- <div class="controlador"> -->
          <label class="label-title">* Categoría del producto</label>
          <select name="productCategory"  multiple class="field-style">
            <option value="">Selecciona una o más opciones</option>
            <% categories.forEach(oneCategory=> { %>
              <option value="<%= oneCategory.id %>" <%= oneCategory.id === product.categoryId ? "selected" : ""  %>>
                <%= oneCategory.name %>
              </option>
            <% }) %>
          </select>
          <span></span>
        <!-- </div> -->

        <% if (locals.errors && errors.productCategory) { %>
          <div class="text-danger">
            <%= errors.productCategory.msg %> 
          </div>
        <% } %>

        <!-- <div class="controlador"> -->
          <label class="label-title">* Descripción del producto</label>
          <textarea class="textarea-style" name="description" id="" cols="30" rows="10"><%= product.description %> </textarea>
          <span></span>
        <!-- </div> -->

        <% if (locals.errors && errors.description) { %>
          <div class="text-danger">
            <%= errors.description.msg %> 
          </div>
        <% } %>
        
        <div class="buttons-edit">
          <button type="submit" class="button-style">Guardar cambios</button>
          <a href="/products/detail/<%= product.id %>" class="button-style" style="text-decoration:none">Deshacer</a>  
        </div>
      </form>

    <!-- </section> -->
    <a href="https://wa.me/5491127682598?text=Me%20gustar%C3%ADa%20contactar%20con%20un%20asesor%20comercial"
      class="whatsapp" target="_blank"> <i class="fab fa-whatsapp"></i></a>
  </main>
  <%- include("../partials/footer.ejs") %>
  <script src="/js/burgerMenu.js"></script>
  <script src="/js/validationEditForm.js"></script>
  <script src="/js/profileMenu.js"></script>

</body>

</html>