<!DOCTYPE html>
<html lang="es">

  <%- include("../partials/head.ejs", {
    pageTitle: "Formulario de edición",
    cssTag: "<link rel='stylesheet' href='/css/styles-formulario-edit.css'> <link rel='stylesheet' href='/css/normalize.css'>"}) %>

<body>
  <%- include("../partials/header.ejs") %>
  <main class="main-form">
    <h1>Editar producto</h1>
    <section>

      <form action="/product/<%= product.id %>?_method=put" method="post" class="create-form">

        <div class="controlador">
          <label>* Editar producto publicado</label>
          <input type="text" name="idProducto" class="control" value="<%= product.name %>">
        </div>

        <div class="controlador">
          <label>* Editar categoría</label>
          <select name="category" value="<% product.category %> ">
            <option value="Ropa femenina">Ropa femenina</option>
            <option value="Ropa masculina">Ropa masculina</option>
            <option value="Calzado">Calzado</option>
            <option value="Accesorios">Accesorios</option>
          </select>
        </div>

        <div class="controlador">
          <label>* Editar marca</label>
          <input type="text" name="idMarca" class="control" value="<%= product.marca %>">
        </div>

        <div class="controlador">
          <label>* Editar modelo</label>
          <input type="text" name="idModelo" class="control" value="<%= product.modelo %>">
        </div>

        <div class="controlador">
          <label>* Editar precio del producto</label>
          <input type="number" name="precio" class="control" value="<%= product.price %>">
        </div>

        <div class="controlador">
          <label>* Editar colores disponibles</label>
          <label>
            <input type="checkbox" name="color" value="Rojo" multiple>Rojo</label>
          <label>
            <input type="checkbox" name="color" value="Negro" multiple>Negro</label>
          <label>
            <input type="checkbox" name="color" value="Blanco" multiple>Blanco</label>
          <label>
            <input type="checkbox" name="color" value="Azul" multiple>Azul</label>
          <label>
            <input type="checkbox" name="color" value="Rosa" multiple>Rosa</label>
          <label>
            <input type="checkbox" name="color" value="Estampado" multiple>Estampado</label>
        </div>

        <div class="controlador">
          <label>* Editar talles disponibles</label>
          <label>
            <input type="checkbox" name="talle" value="XS" multiple>XS</label>
          <label>
            <input type="checkbox" name="talle" value="S" multiple>S</label>
          <label>
            <input type="checkbox" name="talle" value="M" multiple>M</label>
          <label>
            <input type="checkbox" name="talle" value="L" multiple>L</label>
          <label>
            <input type="checkbox" name="talle" value="XL" multiple>XL</label>
          <label>
            <input type="checkbox" name="talle" value="XXL" multiple>XXL</label>
        </div>

        <div class="controlador">
          <label>* Editar cantidad a la venta</label>
          <select name="idcantidad" value="">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
          </select>
        </div>



        <div class="controlador">
          <label>* Editar descripción</label>
          <input name="comentario" class="controlador-comentario" value="<%= product.description %>"></textarea>
        </div>

        <button type="submit" class="boton-formulario">Guardar cambios</button>
        <button type="reset" class="boton-formulario">Cancelar</button>
      </form>

    </section>
    <a href="https://wa.me/5491127682598?text=Me%20gustar%C3%ADa%20contactar%20con%20un%20asesor%20comercial"
      class="whatsapp" target="_blank"> <i class="fab fa-whatsapp"></i></a>
  </main>
  <%- include("../partials/footer.ejs") %>
</body>

</html>