<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs", {
        pageTitle: "Resultado de la búsqueda",
        cssTag: "<link rel='stylesheet' href='/css/styles-search.css'> <link rel='stylesheet' href='/css/styles-detail.css'>"}) %>        
<body>
    <%- include("../partials/header.ejs") %>

    <main>
        <section class="section">
            <article class="article-conteiner">
                <% array.forEach(product => { %>
                    <div class="article">
                        <div>
                            <div class="conteinerOfImages">
                                <a href="/products/detail/<%= product.id %>">
                                <img class="img" src="/img/products/<%= product.image %>" width="300px" height="300px" alt="" />
                                </a>
                            </div>
                            
                            <div class=line>
                                <div class="shipping"><i class="fas fa-truck"></i></div>
                                <div class="box-text">
                                    <div class="price">
                                        AR $<%= product.price %>
                                    </div>
                                </div>

                                <div class="productName">
                                    <%= product.name %>
                                </div>

                            </div>
                        </div>
                    </div>
                <% }); %>
            </article>
        </section>
    </main>

    <%- include("../partials/footer.ejs") %>
</body>
</html>