<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs", {
        pageTitle: "Resultado de la búsqueda",
        cssTag: "<link rel='stylesheet' href='/css/styles-search.css'> <link rel='stylesheet' href='/css/styles-detail.css'>"}) %>        
<body>
    <%- include("../partials/header.ejs") %>

    <main>
        <section class="section">
            <article class="section-style">
                <% array.forEach(product => { %>
                    <div class="article-style">
                                <a href="/products/detail/<%= product.id %>">
                                <img class="imgProduct" src="/img/products/<%= product.image %>" width="300px" height="300px" alt="" />
                                </a>
                                <div class="product-description">
                                <div class=line>
                                    <div class="shipping"><i class="fas fa-truck"></i> Envío gratis</div>
                                    <div class="box-text">
                                        <div class="price">
                                            AR $<%= product.price %>
                                        </div>
                                        <div class="productName">
                                            <%= product.name %>
                                    </div>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <% }); %>
            </article>
        </section>
    </main>

    <%- include("../partials/footer.ejs") %>
    <script src="/js/burgerMenu.js"></script>
</body>
</html>