<!DOCTYPE html>
<html lang="es">
<%- include("./partials/head.ejs", {
    pageTitle: "Inicio",
    cssTag: "<link rel='stylesheet' href='/css/styles-index.css'> <link rel='stylesheet' type='text/css' href='/css/slick.css'/> <link rel='stylesheet' type='text/css' href='/css/slick-theme.css'/>"}) %>


<body>
  <%- include("./partials/header.ejs") %>
  
  <main>
    <!-- Slideshow container -->
      <div class="slideshow-container">
      
        <!-- Full-width images with number and caption text -->
        <div class="mySlides">
          <div class="numbertext">1 / 4</div>
          <img src="/img/banner.png" class="banner">
          <!-- <div class="text">Caption Text</div> -->
        </div>

        <div class="mySlides">
          <div class="numbertext">2 / 4</div>
          <img src="/img/banner-allModels.jpg" class="banner">
          <!-- <div class="text">Caption Text</div> -->
        </div>

        <div class="mySlides">
          <div class="numbertext">3 / 4</div>
          <img src="/img/banner-running.jpg" class="banner">
          <!-- <div class="text">Caption Text</div> -->
        </div>

        <div class="mySlides">
          <div class="numbertext">4 / 4</div>
          <img src="/img/banner-carrera.png" class="banner">
          <!-- <div class="text">Caption Text</div> -->
        </div>

        <!-- Next and previous buttons -->
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>

      </div>
      <br>

      <!-- The dots/circles -->
      <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
      </div>
      
    <!-- <img class="banner" width="100%" src="/img/banner.png" alt="banner"> -->
    <h2 class="title-news-first">Nuevos lanzamientos</h2>
    <section class="productos">

      <article class="article-mobile">

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>
            
            <a href="/products/detail/<%= productsDB[0].id %>"><img class="img-products"
                src="/img/products/<%= productsDB[0].image %>" alt="zapatillas adidas mujer nuevas"></a>

            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/products/detail/<%= productsDB[0].id %>">
              <li><%= productsDB[0].name %> </li>
            </a>
            <li>$<%= productsDB[0].price %> </li>

          </ul>

        </div>

      </article>

      <article class="article-ipad">

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>
            
            <a href="/products/detail/<%= productsDB[1].id %>"><img class="img-products"
                src="/img/products/<%= productsDB[1].image %>" alt="zapatillas adidas mujer nuevas"></a>

            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/products/detail/<%= productsDB[1].id %>">
              <li><%= productsDB[1].name %> </li>
            </a>
            <li>$<%= productsDB[1].price %> </li>

          </ul>

        </div>

      </article>
      <% for (let i=0; i < 4; i++) { %>
      <article class="article-desktop">

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>

            <a href="/products/detail/<%= productsDB[i].id %>"><img class="img-products"
                src="/img/products/<%= productsDB[i].image %>" alt="zapatillas adidas mujer nuevas"></a>

            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/products/detail/<%= productsDB[i].id %>">
              <li><%= productsDB[i].name %> </li>
            </a>
            <li>$<%= productsDB[i].price %> </li>

          </ul>

        </div>
      </article>
      <% } %>

      <article class="article-desktop">


    </section>

    <h2 class="title-news">Los más buscados</h2>

    <section class="productos2">

      <article class="article-mobile">

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>
            
            <a href="/products/detail/<%= productsDB[2].id %>"><img class="img-products"
                src="/img/products/<%= productsDB[2].image %>" alt="zapatillas adidas mujer nuevas"></a>

            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/products/detail/<%= productsDB[2].id %>">
              <li><%= productsDB[2].name %> </li>
            </a>
            <li>$<%= productsDB[2].price %> </li>

          </ul>

        </div>

      </article>

      <article class="article-ipad">

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>
            
            <a href="/products/detail/<%= productsDB[3].id %>"><img class="img-products"
                src="/img/products/<%= productsDB[3].image %>" alt="zapatillas adidas mujer nuevas"></a>

            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/products/detail/<%= productsDB[3].id %>">
              <li><%= productsDB[3].name %> </li>
            </a>
            <li>$<%= productsDB[3].price %> </li>

          </ul>

        </div>

      </article>

      <% for (let i=4; i < 9; i++) { %>
      <article class="article-desktop">

        <div class="product-container">
          <div class="product-article">
            <i class="fas fa-chevron-circle-left"></i>

            <a href="/products/detail/<%= productsDB[i].id %>"><img class="img-products"
                src="/img/products/<%= productsDB[i].image %>" alt="zapatillas adidas mujer nuevas"></a>

            <i class="fas fa-chevron-circle-right"></i>
          </div>

          <ul>
            <a href="/products/detail/<%= productsDB[i].id %>">
              <li><%= productsDB[i].name %> </li>
            </a>
            <li>$<%= productsDB[i].price %> </li>

          </ul>

        </div>
      </article>
      <% } %>



    </section>



    <div class="suscription-box">

      <h2>Suscríbete y obtén un 15% de descuento en todo el sitio web</h2>

      <form action="/">
        <div class="suscription-container">
          <div class="suscription-input">
            <input type="text" placeholder="Nombre" minlength="5">
            <input type="email" placeholder="Correo electrónico">
          </div>
          <button class="botonsuscribite" type="submit">Suscribirse</button>
        </div>
      </form>

    </div>

    <section>

      <h2 class="title-news">Elegí tus favoritas</h2>

      <section class="productos">

        <article class="article-mobile">

          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
              
              <a href="/products/detail/<%= productsDB[4].id %>"><img class="img-products"
                  src="/img/products/<%= productsDB[4].image %>" alt="zapatillas adidas mujer nuevas"></a>
  
              <i class="fas fa-chevron-circle-right"></i>
            </div>
  
            <ul>
              <a href="/products/detail/<%= productsDB[4].id %>">
                <li><%= productsDB[4].name %> </li>
              </a>
              <li>$<%= productsDB[4].price %> </li>
  
            </ul>
  
          </div>

        </article>

        <article class="article-ipad">

          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>
              
              <a href="/products/detail/<%= productsDB[5].id %>"><img class="img-products"
                  src="/img/products/<%= productsDB[5].image %>" alt="zapatillas adidas mujer nuevas"></a>
  
              <i class="fas fa-chevron-circle-right"></i>
            </div>
  
            <ul>
              <a href="/products/detail/<%= productsDB[5].id %>">
                <li><%= productsDB[5].name %> </li>
              </a>
              <li>$<%= productsDB[5].price %> </li>
  
            </ul>
  
          </div>

        </article>

        <% for (let i=5; i < 9; i++) { %>
        <article class="article-desktop">

          <div class="product-container">
            <div class="product-article">
              <i class="fas fa-chevron-circle-left"></i>

              <a href="/products/detail/<%= productsDB[i].id %>"><img class="img-products"
                  src="/img/products/<%= productsDB[i].image %>" alt="zapatillas adidas mujer nuevas"></a>

              <i class="fas fa-chevron-circle-right"></i>
            </div>

            <ul>
              <a href="/products/detail/<%= productsDB[i].id %>">
                <li><%= productsDB[i].name %> </li>
              </a>
              <li>$<%= productsDB[i].price %> </li>

            </ul>

          </div>
        </article>
        <% } %>



      </section>

      <a href="https://wa.me/5491127682598?text=Me%20gustar%C3%ADa%20contactar%20con%20un%20asesor%20comercial"
        class="whatsapp" target="_blank"> <i class="fab fa-whatsapp"></i></a>

  </main>
  <%- include("./partials/footer.ejs") %>
  
  <!-- SLICK -->
  <script src="/js/jquery-3.6.0.min.js"></script>
  <script src="/js/slick.min.js"></script>
  <script src="/js/sliderProduct.js"></script>
  <!-- <script type="text/javascript" src="/js/code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="/js/code.jquery.com/jquery-migrate-1.2.1.min.js"></script> -->
  
  <script src="/js/sliderIndex.js"></script>
  <script src="/js/burgerMenu.js"></script>
</body>

</html>