<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs", {
        pageTitle: "Login",
        cssTag: "<link rel='stylesheet' href='/css/styles-login.css'>"}) %>
    <title>Document</title>
</head>
<body>
<%- include("../partials/header.ejs") %>

    <h2>Hola, <%= user.first_name %> </h2>
    <h2><%= user.image %> </h2>
    
<%- include("../partials/footer.ejs") %>
</body>
</html>