<!DOCTYPE html>
<html lang="en">
<head>
    <link rel='stylesheet' href='/css/styles-profile.css'>
    <%- include("../partials/head.ejs", {
        pageTitle: "Login",
        cssTag: "<link rel='stylesheet' href='/css/styles-login.css'>"}) %>
    <title>Document</title>
</head>
<body>
<%- include("../partials/header.ejs") %>
<div class="student-profile py-4">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent text-center">
              <img class="profile_img" src="/img/users/<%= user.image %>">
              <h3>Hola, <%= user.first_name %></h3>
            </div>
          </div>
        </div>
        <div class="col-lg-8">
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i> Información de tu cuenta</h3>
            </div>
            <div class="card-body pt-0">
              <table class="table table-bordered">
            
                <tr>
                    <th width="30%">Nombre completo:</th>
                    <td width="2%">:</td>
                    <td><%= user.first_name %> <%= user.last_name %></td>
                  </tr>
                <tr>
                  <th width="30%">Documento:</th>
                  <td width="2%">:</td>
                  <td><%= user.documento %></td>
                </tr>
                <tr>
                    <th width="30%">Correo electrónico:</th>
                    <td width="2%">:</td>
                    <td><%= user.email %></td>
                  </tr>
                <tr>
                  <th width="30%">Género:</th>
                  <td width="2%">:</td>
                  <td><%= user.genre %></td>
                </tr>
                <tr>
                  <th width="30%">Fecha de nacimiento:</th>
                  <td width="2%">:</td>
                  <td><%= user.birthday_date %></td>
                </tr>
                <tr>
                  <th width="30%">Dirección de envío principal</th>
                  <td width="2%">:</td>
                  <td><%= user.calle %> <%= user.numeroCalle %>, <%= user.piso %>, <%= user.codigoPostal %></td>
                </tr>
              </table>
            </div>
          </div>
            <div style="height: 26px"></div>
          <div class="card shadow-sm">
            <div class="card-header bg-transparent border-0">
              <h3 class="mb-0"><i class="far fa-clone pr-1"></i> Almacenamiento de tus datos</h3>
            </div>
            <div class="card-body pt-0">
                <p><%= user.first_name %>, usamos la Información de tu perfil generalmente para cumplir con cualquier pedido realizado a través del Sitio (incluido el procesamiento de su información de pago, la organización del envío y el suministro de facturas y / o confirmaciones de pedido). Además, utilizamos esta Información de pedido para comunicarnos con contigo.

                </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<%- include("../partials/footer.ejs") %>
</body>
</html>