<!DOCTYPE html>
<html lang="es">


  <%- include("../partials/head.ejs", {
    pageTitle: "Register",
    cssTag: "<link rel='stylesheet' href='/css/styles-register.css'>"}) %>


<body>
  <%- include("../partials/header.ejs") %>
  <main class="main-form">
    <h1>Registrate</h1>
    <section>

      <form id="registerForm" action="/user/register" method="POST" class="create-form" form="register-form" enctype="multipart/form-data">
        
      <div>
        <h2>Datos sobre tu cuenta</h2>

        <div class="controlador">
          <label>* Nombre completo</label>
          <input type="text" name="name" class="control" value="<%= locals.oldData ? oldData.name : null %>">
          <span></span>
          <% if (locals.errors && errors.name) { %>
            <div class="text-danger">
              <%= errors.name.msg %> 
            </div>
          <% } %>
        </div>

        <div class="controlador">
          <label>* Email</label>
          <input type="email" name="email" class="control" value="<%= locals.oldData ? oldData.email : null %>">
          <span></span>
          <% if (locals.errors && errors.email) { %>
            <div class="text-danger">
              <%= errors.email.msg %> 
            </div>
          <% } %>
        </div>

        <div class="controlador">
          <label>* Contraseña</label>
          <input type="password" name="password" class="control" value="<%= locals.oldData ? oldData.password : null %>">
          <span></span>
          <% if (locals.errors && errors.password) { %>
            <div class="text-danger">
              <%= errors.password.msg %> 
            </div>
          <% } %>
        </div>

        <div class="controlador">
          <label>Imagen de perfil</label>
          <div class="span-msg">
            <input type="file" name="image">
            <span></span>
          </div>
          <% if (locals.errors && errors.image) { %>
            <div class="text-danger">
              <%= errors.image.msg %> 
            </div>
          <% } %>
        </div>
        <div>
          <input type="checkbox" name="terminos">
          <label for="términos">Acepto los términos y condiciones</label>
        </div>
        <p>* campos obligatorios</p>
        <button type="submit" class="boton-formulario">Registrarse</button>
      </div>

      </form>

    </section>
    <a href="https://wa.me/5491127682598?text=Me%20gustar%C3%ADa%20contactar%20con%20un%20asesor%20comercial"
      class="whatsapp" target="_blank"> <i class="fab fa-whatsapp"></i></a>
  </main>
  <%- include("../partials/footer.ejs") %>
  <script src="/js/validationsRegisterFront.js"></script>
  <script src="/js/burgerMenu.js"></script>
</body>

</html>